<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>
    <ion-nav-bar  align-title="center">
      <ion-nav-back-button class="button  button-clear button-dark  ion-chevron-left">
        Back
      </ion-nav-back-button>
      <ion-nav-button>
      </ion-nav-button>
    </ion-nav-bar>


 

<ion-tabs class="tabs-icon-top tabs-color-active-hbar" ng-class="{'tabs-item-hide': shouldHide()}">
    <!-- <ion-tab title="ลูกค้าของฉัน" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ng-click="postSale()">
      <ion-nav-view name="tab-1"></ion-nav-view>
    </ion-tab> -->
    <ion-tab title="ลูกค้าของฉัน" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" ng-click="addpost()">
      <ion-nav-view  name="tab-2"></ion-nav-view>
    </ion-tab>
</ion-tabs>



  </ion-side-menu-content>


</ion-side-menus>





<div class="alert alert-success" role="alert" ng-show="ww == true" style="z-index: 1000;
    position: relative;
    bottom: -92.5vh;
    overflow-y: scroll;" ng-click="vm.hidePage()">
  <div ng-repeat="x in vm.activeMat">{{x}}
    <ion-spinner icon="ripple" class="spinner-positive">
  </div>
  <i class="icon ion-arrow-right-c" style="position: absolute;
  top: 10px;
  zoom: 1.5;
  right: 15px;"></i>

</div>
