<ion-view hide-back-button="true" hide-nav-bar="false" >

  <ion-nav-title><b style="font-size: 18px;">ตั้งค่าการใช้งาน</b> </ion-nav-title>
  <ion-nav-buttons side="right">
    
  </ion-nav-buttons>
<ion-content  style="background: #f5f5f5;">

    <div class="list">
      <div class="item  item-icon-right" >
        <!-- <img src="img/farmer-user.png"> -->
        <div style="font-size: large;
        font-weight: bold;">
          ชื่อผู้ใช้ : {{global.mob_fname}} {{global.mob_lname}}
        </div>
        <div style="font-size: medium;">
          {{global.mob_app}}
        </div>
        <div style="font-size: medium;">
          {{global.mob_company}}
        </div>
        <div style="font-size: medium;">
          Site : {{global.mob_site ? global.mob_site  : '-'}}
        </div>

        <!-- <i class="icon ion-edit " >
        </i> -->
        
      </div>




    <div class="item item-icon-left item-icon-right" ng-click="vm.editpassword()">
      <i class="icon  ion-key">
      </i>
      เปลี่ยนรหัสผ่าน

      <i class="icon ion-ios-arrow-right placeholder-icon">
      </i>
    </div>

    <div class="item" ng-click="vm.deleteUser()" style="color: red;">
      ลบบัญชีผู้ใช้
    </div>

    <!-- <div class="item item-icon-left item-icon-right" ng-click="vm.editsales()">
      <i class="icon  ion-person">
      </i>
      เลือกพนักงานขาย

      <i class="icon ion-ios-arrow-right placeholder-icon">
      </i>
      
    </div> -->


  

    <!-- <div class="item item-icon-left  item-icon-right" ng-click="vm.area()">
      <i class="icon ion-map"></i>
        
      พื้นที่ 

      <i class="icon ion-ios-arrow-right placeholder-icon">
      </i>
    </div> -->
<!-- 
    <a class="item item-icon-left" ng-click="vm.startPlant()">
      <i class="icon">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrJkpwwsoy4VzKPUg6-cOoZGl3AtL354u7vFgUJcTlQ-BqssQG&s" style="height: 40px;
        width: 40px;">
      </i>
      เริ่มต้นเพาะปลูก
    </a> -->
  
  


  <div class="list" style="border-radius: 15px;margin-top:20px">
    <a class="item" ng-click="vm.logout()" style="text-align:center;color:red">
      ออกจากระบบ
    </a>
  </div>

  <div style="text-align: center;color:gray" >Version  {{version}}</div>

  </ion-content>
</ion-view>
