<ion-view hide-back-button="false" cache-view="false">

    <ion-nav-title> แก้ไขโปรไฟล์
    </ion-nav-title>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content class="">
      
  
      <div class="card" style="margin: 0px 0px; ">

  
  
        <div class="item item-divider" style="text-align:left">
          <h2 style="font-size: 16pt"><i class="icon ion-person "></i> ข้อมูลผู้ใช้</h2>
        </div>
  
      
    
  
        <label class="item item-input item-stacked-label">
          <span class="input-label">คำนำหน้า</span>
          <div class="row" style="text-align:center;margin-left:0px;position:relative">
            <div class="col">
  
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1" style="border:solid 1 pt"
                  ng-model="model.user_title">
                  <option>นาย</option>
                  <option>นาง</option>
                  <option>นางสาว</option>
                </select>
              </div>
            </div>
          </div>
        </label>
  
        <label class="item item-input item-stacked-label">
          <span class="input-label">ชื่อ</span>
          <input type="text" placeholder="ชื่อ" ng-model="model.user_fname">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">นามสกุล</span>
          <input type="text" placeholder="นามสกุล" ng-model="model.user_lname">
        </label>
  
        <div class="item  item-icon-right">
  
          <h2>วันเดือนปีเกิด</h2>
          <p ng-if="model.user_birth">{{model.user_birth}}</p>
          <p ng-if="!model.user_birth">เลือกวันที่</p>
  
          <i class="icon ion-edit" ng-click="vm.pickbirth()"></i>
  
        </div>


        <div class="item item-divider" style="text-align:left">
            <h2 style="font-size: 16pt"><i class="icon ion-ios-location "></i> ข้อมูลที่อยู่</h2>
          </div>


          <label class="item item-input item-stacked-label">
            <span class="input-label"> บ้านเลขที่
            </span>
  
            <input type="text" placeholder="บ้านเลขที,หมู่บ้าน" ng-model="model.user_address">
          </label>
  
          <label class="item item-input item-stacked-label">
            <span class="input-label"> หมู่ที่
            </span>
  
            <input type="number" placeholder="หมู่ที่" ng-model="model.user_moo">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">จังหวัด</span>
            <!-- <input type="text" placeholder="Province" ng-model="model.user_province"> -->
  
            <div class="row" style="text-align:center;margin-left:0px;margin-bottom: -10px;position:relative">
              <div class="col">
  
                <div class="form-group">
  
                  <select class="form-control"
                    ng-options="item as item.pro_province_desc for item in vm.province track by item.pro_province_code"
                    ng-model="vm.provinceSelect" ng-change="vm.provinceChange(vm.provinceSelect)">
                  </select>
                </div>
              </div>
            </div>
          </label>
  
          <label class="item item-input item-stacked-label">
            <span class="input-label">อำเภอ</span>
            <div class="row" style="text-align:center;margin-left:0px;margin-bottom: -10px;position:relative">
              <div class="col">
  
                <div class="form-group">
  
                  <select class="form-control"
                    ng-options="item as item.pro_aumphur_desc for item in  vm.aumphur track by item.pro_aumphur_code"
                    ng-model="vm.aumphurSelect" ng-change="vm.aumphurChange(vm.aumphurSelect)">
                  </select>
                </div>
              </div>
            </div>
          </label>
  
          <label class="item item-input item-stacked-label">
            <span class="input-label">ตำบล</span>
            <div class="row" style="text-align:center;margin-left:0px;margin-bottom: -10px;position:relative">
              <div class="col">
  
                <div class="form-group">
  
                  <select class="form-control"
                    ng-options="item as item.pro_tumbol_desc for item in  vm.tumbol track by item.pro_tumbol_code"
                    ng-model="vm.tumbolSelect">
                  </select>
                </div>
              </div>
            </div>
          </label>
  
          <label class="item item-input item-stacked-label">
            <span class="input-label">รหัสไปรษณีย์</span>
            <input type="text" placeholder="zip code" ng-model="model.user_zip"
              oninput="this.value=this.value.replace(/[^0-9]/g,'');" minlength="5" maxlength="5">
          </label>
  
  
  
   
  
        <div class="list">
          <div class="item item-divider" style="text-align:left">
            <h2 style="font-size: 16pt"><i class="icon ion-ios-telephone"></i> ข้อมูลการติดต่อ</h2>
          </div>
          <label class="item item-input item-stacked-label">
            <span class="input-label">เบอร์ติดต่อ</span>
            <input type="text" placeholder="เบอร์ที่สามารถติดต่อได้ 10 หลัก" ng-model="model.user_tel"
              oninput="this.value=this.value.replace(/[^0-9]/g,'');" minlength="9" maxlength="10">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">อีเมล์</span>
            <input type="text" placeholder="Example@gmail.com" ng-model="model.user_email">
          </label>

         
  

          <div></div>
  
          <style>
            .flex-div {
              width: 30%;
              margin-left: 5px;
              margin-top: 5px;
            }
  
            .img-flex {
              width: 100%;
              height: 100%;
            }
          </style>
  
          <!-- <div class="item">
            <div>รูปภาพเอกสารเกษตรกร <a style="color:red">*สูงสุด 6 ภาพ</a> <span class="badge badge-positive"
                style="right: 10px;" ng-click="vm.add($event)">เพิ่มรูปภาพ</span></div>
            <div style=" display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
            flex-direction: row;
            margin-top: 10px;
            ">
              <div class="flex-div" ng-repeat="p in vm.img track by $index" ng-if="vm.img">
  
                <img class="img-flex" ng-src="{{p}}" style="width: 100%;
                height: 100%;" ng-click="vm.remove($index)">
  
              </div>
  
              <div class="flex-div" ng-if="!vm.img.length">
                ยังไม่เพิ่มรูปภาพ
  
              </div>
  
  
            </div>
          </div> -->
  
  
          <div class="row" style="margin-left:2px">
            <div class="col">
              <button type="button" class="button button-balanced button-block" style="font-size:18px;border-radius: 10px"
                ng-click="vm.confirm()" ng-disabled="check()">
                ยืนยัน
              </button>
            </div>
  
  
          </div>
        </div>
      </div>
  
  
  
    </ion-content>
  